<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Macro for Lidar (Sonar/Laser) -->
  <xacro:macro name="sensor_lidar" params="name parent *origin update_rate:=5 samples:=1 resolution:=1 min_angle:=0 max_angle:=0 range_min:=0.2 range_max:=5 visualize:=0">
    <link name="${name}_link">
      <visual>
        <geometry>
          <cylinder radius="0.01" length="0.01"/>
        </geometry>
        <material name="yellow">
            <color rgba="1 1 0 1"/>
        </material>
        </visual>
      <inertial>
        <mass value="0.01"/>
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
      </inertial>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
    <gazebo reference="${name}_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="${name}_link">
      <sensor name="${name}_sensor" type="gpu_lidar">
        <topic>/${name}/scan</topic>
        <lidar>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>${resolution}</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${range_min}</min>
            <max>${range_max}</max>
            <resolution>0.1</resolution>
          </range>
        </lidar>
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>${visualize}</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>